<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
    <section name="MEF" type="CodeCamp.Utilities.MEF.MEFConfigurationSection,CodeCamp.Utilities"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DataServer" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data\CodeCamp.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True"/>-->
    <!--<add name="DataServer" providerName="System.Data.SqlClient" connectionString="Server=abc\sql_abc;DataBase=CodeCamp2;User ID=SQLClient;Password=123456" />-->
    <add name="DataServer" providerName="System.Data.SqlClient" connectionString="Server=(local);DataBase=orlandocodecamp;User ID=CodeCampAppUser;Password=AppAcct1Tug!" />
  </connectionStrings>
  <MEF>
    <Export contract="CodeCamp.DataServerInterface.IDataServer" type="CodeCamp.DataServerEF4.DataServer,CodeCamp.DataServerEF4" arguments="Assemblies;CodeCamp.POCOClasses"/>
  </MEF>
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />

    <roleManager enabled="true"/>

    <authentication mode="Forms">
      <forms name=".CodeCamp.RIA.UI_ASPXAUTH" />
    </authentication>

    <profile>
      <properties>
        <add name="FriendlyName"/>
      </properties>
    </profile>
  
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler"
          type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>