<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <connectionStrings>
        <add name="OrlandoCodeCamp" connectionString="Server=.\SQLExpress;DataBase=orlandocodecamp;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
        <add name="OrlandoCodeCamp2" connectionString="Server=.\SQLExpress;DataBase=orlandocodecamp;User ID=CodeCampAppUser;Password=AppAcct1Tug!" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>
